@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.bycategory{
    padding: 0px 20px;
    background-color: white;
    margin-bottom: 20px;
}

.bycategory h2{
    text-align: center;
    font-size: 30px;
    color: #55724e;
}

.bycategory > div > p:nth-child(2){
    text-align: center;
    margin-bottom: 20px;
}

.bycategory > div{
   margin-top: 0px;
   padding: 20px 10%;
   box-shadow: 0px 0px 3px #38353590;
   overflow-y: scroll;
   border-radius: 20px;
   height: 627px;
}

.bycategory > div > div{
    display: flex;
    margin-bottom: 20px;
    align-items: flex-start;
    width: 100%;
    background-color: #e4e4e461;
    padding: 10px;
    height: 70px;
    overflow-y: hidden;
    transition: height 1s ease;
    cursor: pointer;
    background-color: #b5d8aa61;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.457);
}


.bycategory > div > div:hover{
   height: 310px;
   transition: height 1s ease;
}

.bycategory > div > div > p:nth-child(1){
    margin-right: 20px;
}

.bycategory > div > div > div:nth-child(2){
    width: 350px;
}

.bycategory > div > div > p:nth-child(3){
    align-self: flex-end;
    margin-left: 30%;
}

.bycategory > div > div > div p:nth-child(2){
    font-size: 15px;
    margin-top: 3px;
}

.bycategory > div > div ul{
    margin-top: 30px;
    border-top: 1px solid black;
    padding-top: 10px;
    width: 100%;
}


.bycategory > div > div div{
    display: flex;
    flex-direction: column;
}

@media (max-width:1100px) {
    .bycategory > div > div > p:nth-child(3){
        margin-left: 10%;
    }
}


@media (max-width:1060px) {
    .home div:nth-child(2) .categorynlogin{
        display: flex;
        justify-content: center;
        padding: 0px 5px;
    }
     
    .categorynlogin .login{
        width: 60%;
    }
    
    .bycategory{
        width: 50%;
    }
}

@media (max-width:800px) {
    .home div:nth-child(2) .categorynlogin{
        display: grid;
        grid-template-columns: 1fr;
    }

    .categorynlogin .login{
        width: 70%;
    }
    
    .bycategory{
        width: 100%;
        margin: 10px 20px 10px 0px;
    }
    .bycategory > div > div > p:nth-child(3){
        margin-left: 30%;
    }
}

@media (max-width:750px) {
    .categorynlogin .login{
        width: 70%;
    }
}

@media (max-width:650px) {
    .categorynlogin .login{
        width: 80%;
    }
}


@media (max-width:570px) {
     .bycategory > div > div > p:nth-child(3){
        margin-left: 10%;
     }
}

@media (max-width:470px) {
    .bycategory{
        display: none;
    }
    .categorynlogin .login{
        width: 95%;
    }
}

@media (max-width:365px) {
    .categorynlogin .login{
       padding: 20px 10px;
    }

    .login .loginform label > div, .login .signupform label > div{
        padding: 10px 5px;
    }
}