@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
.company{
    margin-bottom: 50px;
    padding: 10px 0px;
    overflow-x: hidden;
    position: relative;
    border-bottom: 2px solid #647f59;
}

.company h3{
    z-index: -1;
    text-align: center;
    font-family: "Dancing Script";
    font-optical-sizing: auto;
    font-size: 25px;
}

.company > div:nth-child(2){
  display: flex;
  gap: 10px;
  position: relative;
  padding: 10px;
  margin-top: 20px;
  animation: scroll 20s linear infinite;
}


.company > div:nth-child(2):hover{
    animation-play-state:paused;
    cursor: pointer;
}

.comp img{
    width: 50px;
    height: 40px;
}

.comp{
    flex-shrink: 0;
    width: 200px;
    padding: 10px ;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}


.comp div:nth-child(2){
    color: #000000;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.comp div:nth-child(2) p:nth-child(1){
   font-weight: 200;
   font-size: 20px;
}

.comp div:nth-child(2) p:nth-child(1){
    font-size: 15px;
}

@keyframes scroll {
    from{
        transform: translateX(0px);
    }

    to{
        transform: translateX(-1260px);
    }
}

@media (max-width:800px) {
    .comp{
        flex-shrink: 0;
        width: 122px;
        padding: 5px ;
    }

    @keyframes scroll {
        from{
            transform: translateX(0px);
        }

        to{
            transform: translateX(-792px);
        }
    }

    .company > div:nth-child(2){
        animation: scroll 10s linear infinite;

    }

    .company:hover > div:nth-child(2){
        animation-play-state:paused;
        cursor: pointer;
    }
}

@media (max-width:320px) {
    .company{
        display: none;
    }
}