.footer{
    padding: 20px;
    background-color: #92c088;
    margin-top: 20px;
}

.footer .header{
    display: flex;
    gap: 20px;
    align-items: start;
}

.footer .header p{
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 17px;
}

.footer .header img{
    width: 70px;
}

.footer > div:nth-child(2){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 10px;
    padding-block: 10px;
    border-block: 1px solid #2c6029;
    
}

.footer > div:nth-child(2) > div{
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 18px;
}

.footer > div:nth-child(2) > div h2{
    text-decoration: underline;
    margin-bottom: 10px;
}

.footer > div:nth-child(2) > div .links{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.footer > div:nth-child(3){
    padding-top: 10px;
} 

@media (max-width:975px) {
    .footer .header img{
        width: 100px;
    }
}

@media (max-width:700px) {
    
    .footer > div:nth-child(2) > div{
        display: flex;
        flex-direction: column;
        gap: 2px;
        font-size: 15px;
    }    

    .footer .header p{
        display: flex;
        flex-direction: column;
        gap: 2px;
        font-size: 15px;
    }

    .footer .header img{
        width: 90px;
    }
}

@media (max-width:440px) {
    .footer .header p{
        display: flex;
        flex-direction: column;
        gap: 2px;
        font-size: 12px;
    }

    .footer > div:nth-child(2) > div{
        display: flex;
        flex-direction: column;
        gap: 2px;
        font-size: 10px;
    }  

    .footer > div:nth-child(3){
        font-size: 10px;
    }
}