.how{
    color: #030303;
    margin-top: -4px;
    background:linear-gradient(white,#d5e7c3);
}

.how > h2:nth-child(1){
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    background:linear-gradient(#536B4F,#536B4F,#536b4fb0);
    color: transparent;
    background-clip: text;
    margin: 0 auto;
}

.how > div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    gap: 0px;
}

.how > div > div{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px 5px;

}

.how > div > div div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px 0px;
}

.number{
    font-size: 100px;
    text-align: center;
}

.how div div div:not(.number){
    border-right: 2px groove black;
    padding: 20px 20px;
}

.how div > div > div:nth-child(2){
    border-right: none;
}

.how div div div h2{
    background:linear-gradient(#536B4F,#536B4F,#536b4f6e);
    color: transparent;
    background-clip: text;
}

@media (max-width:810px) {
    .how > h2:nth-child(1){
        font-size: 30px;
    }

    .how > div{
        padding: 20px 5%;
    }
}

@media (max-width:570px) {
    .how > div{
        padding: 10px 0%;
    }

    .how > div .number{
        font-size: 70px;
    }
}