.profile{
    background-color: #efefef;
}

.profile form .header{
    width: 100%;
    border-block: 1px solid #5f9372;
    padding: 110px ;
    text-align: center;
    background:linear-gradient(90deg,#8bb07d,#d0f1c2,#8bb07d);
}

.profile form .header h2{
    font-size: 40px;
    font-weight: 600;
    background:linear-gradient(90deg,#2e4525,#90ba7f);
    width: 500px;
    margin: 0px auto;
    background-clip: text;
    color: transparent;
}

.profile form > div:nth-child(2){
    width: 100%;
    padding: 10px 20% 30px 5%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.profile form > div:nth-child(2) > div:nth-child(1),.profile form > div:nth-child(2) > div:nth-child(2),.profile  form> div:nth-child(2) > div:nth-child(3),.profile form > div:nth-child(2) > div:nth-child(3){
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.profile form > div:nth-child(2) > div:nth-child(4){
    padding: 10px;
}

.profile form > div:nth-child(2) h2{
    grid-column: span 2;
    background:linear-gradient(#2e4525,#90ba7f);
    color: transparent;
    background-clip: text;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}


.profile form h2 span p{
    width: 200px;
    padding: 5px 10px ;
    background-color: #b0d0a2;
    border: 2px solid #b7d4ac;
    cursor: pointer;
    text-align: center;
    display: block;
}

.profile  form> div:nth-child(2) > div:nth-child(1) input,.profile form > div:nth-child(2) >  div:nth-child(2) input,.profile form > div:nth-child(2) >  div:nth-child(2) select{
    width: 100%;
    padding: 5px;
    outline: none;
    border: 1px solid #2e4525;
    margin-top: 5px;
    background-color: white;
}

.profile form > div:nth-child(2) > div:nth-child(1) label:nth-child(4),.profile form > div:nth-child(2) > div:nth-child(1) label:nth-child(5),.profile form > div:nth-child(2) > div:nth-child(2) label:nth-child(2),.profile form > div:nth-child(2) > div:nth-child(2) label:nth-child(3){
    grid-column:  span 2;
}

.profile form > div:nth-child(2) > div:nth-child(3) label input{
    width: 100%;
    padding: 5px;
    outline: none;
    border: 1px solid #2e4525;
    background-color: white;
}

.profile form > div:nth-child(2) > div:nth-child(3){
    display: flex;
    flex-direction: column;
}

.profile form > div:nth-child(2) > div:nth-child(3) button{
    cursor: pointer;
}

.profile form > div:nth-child(2) > div:nth-child(3) label div{
    display: flex;
    gap: 10px;
}

.profile form > div:nth-child(2) > div:nth-child(3) label > input{
    flex: 1;
    padding: 5px;
    outline: none;
    border: 1px solid #2e4525;
}

.profile form > div:nth-child(2) > div:nth-child(3) label button{
    width: 100px;
    background-color: #b0d0a2;
    outline: none;
    border: 1px solid #86a47a;
    border-radius: 20px;
    color: white;
    box-shadow: 0px 0px 10px #322d2d38;
    cursor: pointer;
}

.profile form > div:nth-child(2) > div:nth-child(3)  div:nth-child(4){
    padding: 5px 0px;
    display: flex;
    gap: 20px;
}

.profile form > div:nth-child(2) > div:nth-child(3) > div:nth-child(4):empty::after{
    content: "Add skills to let JobNova find a match for you!!";
    text-align: center;
}

.profile form  > div:nth-child(2) > div:nth-child(3) > div:nth-child(4) p{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: white;
}

.profile form > div:nth-child(2)  > div:nth-child(3) > div:nth-child(4) p span{
    cursor: pointer;
}

.profile form > div:nth-child(2) > div:nth-child(4) > label:nth-child(2) select{
    width: 100%;
    padding: 6px;
    outline: none;
    border: 1px solid #2e4525;
    margin-block: 5px 20px;
    background-color: white;
}

.profile form  > div:nth-child(2) > div:nth-child(4) label:nth-child(3) > div, .profile form > div:nth-child(2)  > div:nth-child(4) label:nth-child(4) > div,.profile form > div:nth-child(2)  > div:nth-child(4) label:nth-child(5) > div{
    display: flex;
    width: 100%;
    padding: 5px;
    outline: none;
    border: 1px solid #2e4525;
    margin-block: 5px 20px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

.profile form> div:nth-child(2)  > div:nth-child(4) label:nth-child(3) > div  div, .profile form > div:nth-child(2) > div:nth-child(4) label:nth-child(4) > div  div, .profile form > div:nth-child(2) > div:nth-child(4) label:nth-child(5) > div  div{
    display: flex;
    align-items: center;
    width: 30%;
    gap: 10px;
}

.profile form > div:nth-child(2)  > div:nth-child(4){
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap:0px 50px;
}

.profile form button:nth-child(5){
    width: 200px;
    padding: 5px 10px ;
    align-self: center;
    background-color: #b0d0a2;
    border: 2px solid #b7d4ac;
    outline: none;
    box-shadow: 0px 0px 10px #322d2d83;
    cursor: pointer;
}


.profile.disabled input,.profile.disabled select,.profile.disabled form div:nth-child(4) label div,.profile.disabled .skills p,.profile.disabled .skills p,.profile.disabled #skills label div input{
    pointer-events: none;
    cursor: no-drop;
    color: rgb(112, 111, 111);
}

.profile form > div:nth-child(2) > div:nth-child(3) div:nth-child(5){
    padding: 10px 0px;
    border-top: 1px solid #86a47a;
}

.profile form > div:nth-child(2) > div:nth-child(3) div:nth-child(5) >p{
    font-size: 20px;
    margin-bottom: 20px;
}

.profile form > div:nth-child(2) > div:nth-child(3) div:nth-child(5) > div{
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.profile form > div:nth-child(2) > div:nth-child(3) div:nth-child(5) > div p{
    border: 1px solid rgb(67, 93, 38);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
